
cifardata/cifar-10-batches-py/batches.meta
cifardata/cifar-10-batches-py/data_batch_1
cifardata/cifar-10-batches-py/data_batch_2
cifardata/cifar-10-batches-py/data_batch_3
cifardata/cifar-10-batches-py/data_batch_4
cifardata/cifar-10-batches-py/data_batch_5
cifardata/cifar-10-batches-py/readme.html
cifardata/cifar-10-batches-py/test_batch
cifardata/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
data/cifar-10-python.tar.gz
*.npy
